.Ph {
    display: flex;
    align-items: center;
    justify-content: center;
}

#P {
    color: black;
    background-color: orange;
}

#H {
    color: orange;
    background-color: black;
}

img {
    width: 20%;
}

.nav {
    text-decoration: inherit;
    display: flex;
    gap: 20px;
}